#spacer {
    height: 70px;
}
#header {
    height: 70px;
    padding: 0;
    display: flex;
    justify-content: center;

    &__container {
        width: 1024px;
    }

    h1 {
        width: 180px;
        font-size: 17px;
    }

    &__search {
        &--input {
            width: 200px;
        }

        label {
            margin: 0 0 10px 0;
            font-size: 15px;
            line-height: 15px;
        }

        input {
            height: 46px;
            padding: 0 0 0 15px;
            font-size: 15px;
            border-radius: 4px 0 0 4px;
        }

        &--button {
            button {
                height: 48px;
         }
      }
    }
}
