/* $tertiary_label_color #595959; */

$tertiary_background_color: #ffeeca;
$tertiary_background_color: #383838;
// $tertiary_background_color: #bdc4a7;

$tertiary_against_background_border_color: #232228;
// $tertiary_against_accent_border_color: #1e1d24;
// $tertiary_against_primary_border_color: #1e1d24;
// $tertiary_against_secondary_border: 1px solid #1e1d24;
$tertiary_against_background_border: 1px solid $tertiary_against_background_border_color;

// $tertiary_label_color: #747474;
// $tertiary_paragraph_color: #484848;
// $tertiary_paragraph_color: #585858;
// $tertiary_paragraph_color: #646464;
// $tertiary_title_color: $primary_background_color;

// $tertiary_field_enabled_content_color: #585858;
// $tertiary_field_enabled_focus_border: 1px solid #2970fa;
// $tertiary_field_enabled_placeholder_color: #a8a8a8;
// $tertiary_field_enabled_content_color: #585858;
// $tertiary_field_enabled_background_color: #fff;
// $tertiary_field_enabled_border: 1px solid #000;
// $tertiary_field_disabled_background_color: #a8a8a8;
// $tertiary_field_disabled_border: 1px solid #000;
// $tertiary_field_disabled_caret_color: #585858;
// $tertiary_field_disabled_placeholder_color: #a8a8a8;
// $tertiary_field_disabled_content_color: #585858;
// $tertiary_select_option_background_color: #e8e8e8;
// $tertiary_select_option_border: 1px solid #233;
// $tertiary_select_option_border_bottom: 1px dotted #000;
// $tertiary_select_option_text_color: #e8e8e8;
// $tertiary_select_palette_colors_border: 1px solid #383838;

// $tertiary_button_active_background_color: $accent_color;
// $tertiary_button_active_border: 1px solid #d9af58;
// $tertiary_button_active_text_color: #fff;
// $tertiary_button_active_text_color: #000;

// $tertiary_button_inactive_background_color: $primary_background_color;
// $tertiary_button_inactive_background_color: $background_color;
// $tertiary_button_inactive_border: 1px solid #232228;
// $tertiary_button_inactive_text_color: $primary_title_color;

// $tertiary_clock_background_color: #d2d2d2;
// $tertiary_clock_border: 1px solid #a8a8a8;
