
<div id="header">
    <div id="header__holder">
        <h1 class="left">MoviesApp</h1>
        <h1>Gneral</h1>
        <h1>TV Show</h1>
        <h1>Movies</h1>
        <h1>Home</h1>
    </div>
</div>

<div id="banner">
    <div id="picture">
        <img src="https://image.tmdb.org/t/p/w500//1XSYOP0JjjyMz1irihvWywro82r.jpg" alt="">
    </div>

    <div id="banner__container">
        <h1>Roald Dahl's Matilda the Musical</h1>
        <div id="banner__holder">
            <h2>8/10</h2>
            <span>|</span>
            <h2>5,500 reviews</h2>
            <span>|</span>
            <h2>2020</h2>
        </div>
    </div>
    <!-- <p>An extraordinary young girl discovers her superpower and summons the remarkable courage, against all odds, to help others change their stories, whilst also taking charge of her own destiny. Standing up for what's right, she's met with miraculous results.</p> -->
</div>
