<div id="spacer"></div>
<header id="header">
    <div id="header__container">
        <div id="header__holder">
            <h1 routerLink="/">MoviesApp</h1>
            <h1 routerLink="/" class="right">Movies</h1>
        </div>
        <!-- <div id="header__search"> -->
            <!-- <div id="header__search--input">
                <input #searchbox type="text" id="input" placeholder="Search Movies" />
                <div id="header__search--button">
                    <button>Go!</button>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
</header>
