#movies {
    float: left;
    width: 320px;
    margin: 0 20px;
    padding: 0
    
    &__list {
        display: grid;
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    &__tag {
        position: absolute;
        margin: 0;
        padding: 0;
        // transform: rotate(-20deg);
        background: #e71d36;
        border-radius: $border_radius;
        border: var(--primary_accent_border);
        cursor: pointer;
        
        h5 {
            float: left;
            display: flex;
            height: 37px;
            margin: 0;
            padding: 0 20px;
            font-family: $primary_font;
            font-weight: $primary_font_weight_500;
            font-size: 14px;
            color: #fff;
            justify-content: center;
            align-items: center;
        }
    }

    &__load-more {
        float: left;
        display: flex;
        width: 100%;
        height: 46px;
        margin: 0;
        padding: 0;
        justify-content: center;
        
        button {
            float: left;
            width: 150px;
            height: 100%;
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 16px;
            line-height: 46px;
            background: #e71d36;
            border-radius: $border_radius;
            border: none;
        }
    }
}

.movie {
	float: left;
	margin: 0;
	width: 100%;
	padding: 0;
	margin: 0 0 18px 0;
	background: #212121;
	border: 1px solid rgba(255,255,255,.1);
	border-radius: $border_radius;
	overflow: hidden;

    &__picture {
		float: left;
		width: 100%;
		aspect-ratio: 1/1.3;
		margin: 0;
		padding: 0;
		background: #fff;
		border-radius: $border_radius_top;
		overflow: hidden;

        img {
            float: left;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }
    h1 {
        float: left;
        height: 40px;
        margin: 0;
        padding: 0 10px 0 10px;
        font-family: $secondary_font;
        font-weight: $secondary_font_weight_500;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
    }
}
