$subscribe_form_field_font_size_360: 17px;
$subscribe_form_field_font_size_375: 17px;
$subscribe_form_field_font_size_480: 17px;
$subscribe_form_field_font_size_667: 17px;
$subscribe_form_field_font_size_768: 17px;
$subscribe_form_field_font_size_1024: 17px;
$subscribe_form_field_font_size_1140: 17px;

$header_h1_font_size_360: 19px;
$header_h1_font_size_375: 19px;
$header_h1_font_size_480: 19px;
$header_h1_font_size_667: 19px;
$header_h1_font_size_768: 17px;
$header_h1_font_size_1024: 17px;
$header_h1_font_size_1140: 15px;

$editor_field_font_size_360: 17px;
$editor_field_font_size_375: 17px;
$editor_field_font_size_480: 17px;
$editor_field_font_size_667: 17px;
$editor_field_font_size_768: 17px;
$editor_field_font_size_1024: 17px;
$editor_field_font_size_1140: 17px;

$subscribe_form_label_font_size_360: 12px;
$subscribe_form_label_font_size_375: 12px;
$subscribe_form_label_font_size_480: 12px;
$subscribe_form_label_font_size_667: 12px;
$subscribe_form_label_font_size_768: 12px;
$subscribe_form_label_font_size_1024: 12px;
$subscribe_form_label_font_size_1140: 12px;

$search_font_size_360: 19px;
$search_font_size_375: 19px;
$search_font_size_480: 19px;
$search_font_size_667: 19px;
$search_font_size_768: 19px;
$search_font_size_1024: 19px;
$search_font_size_1140: 19px;

$search_label_font_size_360: 15px;
$search_label_font_size_375: 15px;
$search_label_font_size_480: 15px;
$search_label_font_size_667: 15px;
$search_label_font_size_768: 15px;
$search_label_font_size_1024: 15px;
$search_label_font_size_1140: 15px;

$users_font_size_360: 10px;
$users_font_size_375: 10px;
$users_font_size_480: 10px;
$users_font_size_667: 10px;
$users_font_size_768: 10px;
$users_font_size_1024: 10px;
$users_font_size_1140: 10px;
