$margin_reference_left_360: 260px;
$margin_reference_left_375: 275px;
$margin_reference_left_480: 280px;
$margin_reference_left_667: 220px;
$margin_reference_left_768: 160px;
$margin_reference_left_1024: 380px;
$margin_reference_left_1140: 380px;

$margin_top_offset_validation_360: 37px;
$margin_top_offset_validation_375: 37px;
$margin_top_offset_validation_480: 37px;
$margin_top_offset_validation_667: 37px;
$margin_top_offset_validation_768: 37px;
$margin_top_offset_validation_1024: 37px;
$margin_top_offset_validation_1140: 37px;

$margin_top_offset_validation_two_360: 57px;
$margin_top_offset_validation_two_375: 57px;
$margin_top_offset_validation_two_480: 57px;
$margin_top_offset_validation_two_667: 57px;
$margin_top_offset_validation_two_768: 57px;
$margin_top_offset_validation_two_1024: 57px;
$margin_top_offset_validation_two_1140: 57px;

$margin_top_page_360: 38px;
$margin_top_page_375: 38px;
$margin_top_page_480: 38px;
$margin_top_page_667: 38px;
$margin_top_page_768: 38px;
$margin_top_page_1024: 38px;
$margin_top_page_1140: 38px;

$margin_bottom_page_360: 38px;
$margin_bottom_page_375: 38px;
$margin_bottom_page_480: 38px;
$margin_bottom_page_667: 38px;
$margin_bottom_page_768: 38px;
$margin_bottom_page_1024: 38px;
$margin_bottom_page_1140: 38px;
$margin_bottom_search_field_360: 20px;
$margin_bottom_search_field_375: 20px;
$margin_bottom_search_field_480: 20px;
$margin_bottom_search_field_667: 20px;
$margin_bottom_search_field_768: 20px;
$margin_bottom_search_field_1024: 20px;
$margin_bottom_search_field_1140: 20px;
