$border_radius: 4px;
$border_radius_top: $border_radius $border_radius 0 0;
$border_radius_bottom: 0 0 $border_radius $border_radius;
$border_radius_right: 0 $border_radius $border_radius 0;
$border_radius_left: $border_radius 0 0 $border_radius;
$border_radius_circle: 1000px;
$border_radius_progress: 8px;

$border_radius_device_top: 12px 12px 0 0;
