$padding_horizontal_header_360: 10px;
$padding_horizontal_header_375: 10px;
$padding_horizontal_header_480: 14px;
$padding_horizontal_header_667: 14px;
$padding_horizontal_header_768: 20px;
$padding_horizontal_header_1024: 20px;
