#structure__main {
	width: 100%;
}

.structure.full,
.structure {
	width: 748px;
	margin: 0 auto;
}
.structure.full__container,
.structure__container {
	margin: 38px 0 38px 0;
}
.structure.full__interactive--container,
.structure__interactive--container {
	width: 735px;
}
.structure.full__login--container,
.structure__login--container {
	width: 360px;
}
