$accent_color: #adb5bd;
$accent_color: #c6cbd1;
$accent_color: #55555c;
$accent_color: #fff;
$accent_color: #ffce68;
$accent_color: #ffbe0b;
$accent_background_color: #e71d36;
/* $accent_color: #ffe294; */
/* $accent_color: #35e95f; */
/* $accent_color: #6eef8c; */
/* $accent_color: #aaf6bc; */
/* $accent_color: #b2f7c2; */
/* $accent_color: #ffce68; */
/* $accent_color: #5295ff; */
/* $accent_color: #4cc9f0;
$accent_color: #db2466; */

/* $accent_color: #7fdeff; */
/* $accent_color: #92f0a7;
$accent_color: #c0f6cc;
$accent_color: #80ed99;
$accent_color: #9ef1b1;
$accent_color: #03fcba;
$accent_color: #aefee9;
$accent_color: #c7f9cc;
$accent_color: #00ffff;
$accent_color: #3a86ff;
$accent_color: #e9ff70;
$accent_color: #c77dff;
$accent_color: #e0aaff;
$accent_color: #00bfb2;
$accent_color: #dcf763; */

/* $accent_color: #00f5d4;
$accent_color: #17bebb;
$accent_color: #00fff5;
$accent_color: #d0ffb7; */
/* $accent_color: #c1ffe1;
$accent_color: #06d6a0;
$accent_color: #00a5cf; */

/* $accent_color: #b5ffdc;
$accent_color: #e4fff2;
$accent_color: #bdffe2;
$accent_color: #50ffb1; */
$accent_against_banner_color: #a6ffd8;
$accent_title_color: #f2c463;
$accent_title_color: #000;
