<app-header></app-header>
<!-- <div class="structure">
    <div class="structure__container">
        <div *ngFor="let mediaItem of mediaItems">
            <h1>{{ mediaItem.id}}</h1>
        </div>
    </div>
</div> -->

<div class="structure">
    <div class="structure__container">
        <div id="movies">
            <div class="movie" *ngFor="let item of mediaItems">
                <div class="movie__picture">
                    <!-- <img src="{{ mediaItem.picture }}" alt=""> -->
                </div>
                <div class="movie__title">
                    <h1>{{ item.name }}</h1>
                </div>
            </div>
        </div>
        <button *ngIf="hasMore" (click)="loadMore()">Load More</button>
    </div>
</div>