$column_gap_list_360: 12px;
$column_gap_list_375: 8px;
$column_gap_list_480: 8px;
$column_gap_list_667: 8px;
$column_gap_list_768: 10px;
$column_gap_list_1024: 10px;
$column_gap_list_1140: 10px;

$row_gap_subscribe_form_360: 26px;
$row_gap_subscribe_form_375: 26px;
$row_gap_subscribe_form_480: 26px;
$row_gap_subscribe_form_667: 26px;
$row_gap_subscribe_form_768: 26px;
$row_gap_subscribe_form_1024: 26px;
$row_gap_subscribe_form_1140: 26px;

$row_gap_demo_form_360: 24px;
$row_gap_demo_form_375: 24px;
$row_gap_demo_form_480: 24px;
$row_gap_demo_form_667: 24px;
$row_gap_demo_form_768: 24px;
$row_gap_demo_form_1024: 24px;
$row_gap_demo_form_1140: 24px;

$row_gap_editor_360: 23px;
$row_gap_editor_375: 23px;
$row_gap_editor_480: 23px;
$row_gap_editor_667: 23px;
$row_gap_editor_768: 23px;
$row_gap_editor_1024: 23px;
$row_gap_editor_1140: 23px;

$row_gap_editor_form_360: 10px;
$row_gap_editor_form_375: 10px;
$row_gap_editor_form_480: 10px;
$row_gap_editor_form_667: 10px;
$row_gap_editor_form_768: 15px;
$row_gap_editor_form_1024: 15px;
$row_gap_editor_form_1140: 15px;

$column_gap_list_item_360: 10px;
$column_gap_list_item_375: 10px;
$column_gap_list_item_480: 10px;
$column_gap_list_item_667: 10px;
$column_gap_list_item_768: 10px;
$column_gap_list_item_1024: 10px;
$column_gap_list_item_1140: 10px;

$row_gap_organizations_360: 15px;
$row_gap_organizations_375: 15px;
$row_gap_organizations_480: 15px;
$row_gap_organizations_667: 15px;
$row_gap_organizations_768: 15px;
$row_gap_organizations_1024: 15px;
$row_gap_organizations_1140: 15px;

$row_gap_setting_form_360: 23px;
$row_gap_setting_form_375: 23px;
$row_gap_setting_form_480: 23px;
$row_gap_setting_form_667: 23px;
$row_gap_setting_form_768: 23px;
$row_gap_setting_form_1024: 23px;
$row_gap_setting_form_1140: 23px;
