$shadow_icon_white: 0 0 30px 2px rgba(255, 255, 255, 0.4);

$shadow_box_green: 0 0 30px 2px rgba(149, 206, 199, 0.4);
$shadow_box_green: 0 0 30px 2px rgba(191, 226, 221, 0.4);

$shadow_text_white: -1px 0 0 rgba(255, 255, 255, 0.8);
$shadow_box_blue: 0 0 40px 3px rgba(41, 112, 250, 0.4);
