// $primary_font: 'industry', sans-serif;
// $primary_font: "arial", sans-serif;
$primary_font_weight_500: 500;

// $secondary_font: "expressway", sans-serif;
$secondary_font_weight_300: 300;
$secondary_font_weight_400: 400;
$secondary_font_weight_500: 500;
$secondary_font_weight_700: 700;

$primary_font: "calder-lc", sans-serif;
$primary_font_weight_400: 400;

$secondary_font: "usual", sans-serif;
$secondary_font_weight_400: 400;
$secondary_font_weight_600: 600;
$secondary_font_weight_700: 700;

$alternate_font: "calder-script", sans-serif;
$alternate_font_weight_400: 400;
