#movies {
    width: 627px;
    
    &__list {
        display: grid;
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
}
.movie {
    margin: 0 0 18px 0;

    &__picture {
        aspect-ratio: 1/1.3;
    }
    h1 {
        height: 40px;
        padding: 0 10px 0 10px;
        font-size: 14px;
        line-height: 40px;
    }
}

#loadMore {
    height: 46px;

    button {
        width: 150px;
        font-size: 16px;
        line-height: 46px;
    }
}


#search__button {
    grid-column: 8/10;

    button {
        height: 48px;
    }
}
.search__section {
    label {
        margin: 0 0 10px 0;
        font-size: 15px;
        line-height: 15px;
    }

    input {
        height: 46px;
        font-size: 15px;
        border-radius: 4px 0 0 4px;
        grid-column: 1/8;
    }
}
