$background_color: #e9e9e9;
$background_color: #faedcd;
$background_color: #d1ffd7;
$background_color: #e2e0db;
$background_color: #e7e6e1;
$background_color: #dcdad4;
$background_color: #e9dfd6;
$background_color: #f4f0e8;
$background_color: #eee7da;
$background_color: #ebe5d5;

// $background_against_primary_border: 1px solid #000;
// $background_against_secondary_border: 1px solid #1e1d24;
// $background_against_tertiary_border: 1px solid #232228;
// $background_against_image_border_color: #000;
// $background_against_image_border: 1px solid #000;
// $background_against_backdrop_border_color: #000;
// $background_against_backdrop_border: 1px solid #000;

// $background_title_color: #fff;
// $background_label_color: #fff;
// $background_paragraph_color: #d8d8d8;

// $background_field_enabled_background_color: #fff;
// $background_field_enabled_border: 1px solid #000;
// $background_field_enabled_focus_border: 1px solid #2970fa;
// $background_field_enabled_content_color: #585858;
// $background_field_enabled_placeholder_color: #a8a8a8;
// $background_field_enabled_content_color: #585858;

$background_field_disabled_background_color: #a8a8a8;
// $background_base_field_disabled_border: 1px solid #000;
// $background_field_disabled_caret_color: #585858;
// $background_field_disabled_content_color: #585858;
// $background_field_disabled_placeholder_color: #a8a8a8;

// $background_select_option_border_bottom: 1px dotted #000;
// $background_select_option_text_color: #e8e8e8;
// $background_select_option_background_color: #e8e8e8;
// $background_select_palette_colors_border: 1px solid #383838;
// $background_select_option_border: 1px dotted #233;

// $background_button_active_background_color: var($main_color);
// /* $background_button_active_border: 1px solid #2970fa; */
// $background_button_active_border: 1px solid #383838;
// $background_button_active_text_color: #d3d9e6;
// $background_button_active_text_color: #dee5f2;
// $background_button_active_text_color: #eaf1ff;

// $background_button_inactive_background_color: var($primary_background_color);
// $background_button_inactive_border: var($primary_against_background_border);
// $background_button_inactive_text_color: #888;
// $background_button_inactive_text_color: #a8a8a8;
// $background_button_inactive_text_color: #b8b8b8;

// $background_accent_active_background_color: var($accent_color);
// $background_accent_active_border: 1px solid #806734;
// $background_accent_active_text_color: var($primary_background_color);

// $background_accent_inactive_background_color: var($primary_background_color);
// $background_accent_inactive_border: 1px solid #232228;
// $background_accent_inactive_text_color: #fff;

// $background_progress_background_color: #e9ecea;
// $background_progress_outline_color: var($background_color);
// $background_progress_circle_color: #fff;
// $background_progress_circle_active_color: var($main_color);
// $background_progress_check_color: #fff;
// $background_progress_text_color: #a8a8a8;
// $background_progress_text_active_color: #fff;

// $background_title_border_bottom: 3px solid #2970fa;
