$width_reference_360: 320px;
$width_reference_375: 335px;
$width_reference_480: 440px;
$width_reference_667: 320px;
$width_reference_768: 520px;
$width_reference_1024: 512px;
$width_reference_1140: 512px;

$width_panel_360: 274px;
$width_panel_375: 274px;
$width_panel_480: 274px;
$width_panel_667: 274px;
$width_panel_768: 274px;
$width_panel_1024: 274px;
$width_panel_1140: 274px;
