$height_search_field_360: 48px;
$height_search_field_375: 48px;
$height_search_field_480: 48px;
$height_search_field_667: 48px;
$height_search_field_768: 48px;
$height_search_field_1024: 48px;
$height_search_field_1140: 48px;

$height_subscribe_field_360: 46px;
$height_subscribe_field_375: 46px;
$height_subscribe_field_480: 46px;
$height_subscribe_field_667: 46px;
$height_subscribe_field_768: 46px;
$height_subscribe_field_1024: 46px;
$height_subscribe_field_1140: 46px;

$height_demo_field_360: 50px;
$height_demo_field_375: 50px;
$height_demo_field_480: 50px;
$height_demo_field_667: 50px;
$height_demo_field_768: 50px;
$height_demo_field_1024: 50px;
$height_demo_field_1140: 50px;

$height_editor_field_360: 44px;
$height_editor_field_375: 44px;
$height_editor_field_480: 44px;
$height_editor_field_667: 44px;
$height_editor_field_768: 44px;
$height_editor_field_1024: 44px;
$height_editor_field_1140: 44px;

$height_buy_field_360: 50px;
$height_buy_field_375: 50px;
$height_buy_field_480: 50px;
$height_buy_field_667: 50px;
$height_buy_field_768: 50px;
$height_buy_field_1024: 50px;
$height_buy_field_1140: 50px;

$height_authentication_field_360: 52px;
$height_authentication_field_375: 52px;
$height_authentication_field_480: 52px;
$height_authentication_field_667: 52px;
$height_authentication_field_768: 52px;
$height_authentication_field_1024: 52px;
$height_authentication_field_1140: 52px;

$height_users_field_360: 24px;
$height_users_field_375: 24px;
$height_users_field_480: 24px;
$height_users_field_667: 24px;
$height_users_field_768: 24px;
$height_users_field_1024: 24px;
$height_users_field_1140: 24px;
